In [8]:
import pandas as pd
import requests

## API key from IMDB

In [9]:
response=requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=45e9a9399bc6d187721b814112f4a11c&language=en-US&page=1')

In [12]:
df=pd.DataFrame(response.json()['results'])[['id','title','release_date','overview','popularity','vote_average']]

In [13]:
df.shape

(20, 6)

In [14]:
df.head(5)

,id,title,release_date,overview,popularity,vote_average
0,278,The Shawshank Redemption,1994-09-23,Framed in the 1940s for the double murder of h...,122.319,8.704
1,238,The Godfather,1972-03-14,"Spanning the years 1945 to 1955, a chronicle o...",139.712,8.695
2,240,The Godfather Part II,1974-12-20,In the continuing saga of the Corleone crime f...,95.296,8.577
3,424,Schindler's List,1993-12-15,The true story of how businessman Oskar Schind...,79.114,8.567
4,389,12 Angry Men,1957-04-10,The defense and the prosecution have rested an...,48.300,8.542

In [15]:
response=requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=45e9a9399bc6d187721b814112f4a11c&language=en-US&page=5')

In [16]:
df1=pd.DataFrame(response.json()['results'])[['id','title','release_date','overview','popularity','vote_average']]

In [18]:
df1.head(5)

,id,title,release_date,overview,popularity,vote_average
0,632632,Given,2020-08-22,"The relationship between a band's bassist, the...",20.201,8.269
1,637920,Miracle in Cell No. 7,2019-10-10,"Separated from his daughter, a father with an ...",37.208,8.268
2,25237,Come and See,1985-10-17,The invasion of a village in Byelorussia by Ge...,30.017,8.267
3,533514,Violet Evergarden: The Movie,2020-09-18,As the world moves on from the war and technol...,32.882,8.264
4,10376,The Legend of 1900,1998-10-28,The story of a virtuoso piano player who lives...,21.735,8.263

In [21]:
df1.to_csv('movie1_csv')

In [20]:
df1

,id,title,release_date,overview,popularity,vote_average
0,632632,Given,2020-08-22,"The relationship between a band's bassist, the...",20.201,8.269
1,637920,Miracle in Cell No. 7,2019-10-10,"Separated from his daughter, a father with an ...",37.208,8.268
2,25237,Come and See,1985-10-17,The invasion of a village in Byelorussia by Ge...,30.017,8.267
3,533514,Violet Evergarden: The Movie,2020-09-18,As the world moves on from the war and technol...,32.882,8.264
4,10376,The Legend of 1900,1998-10-28,The story of a virtuoso piano player who lives...,21.735,8.263
5,652837,"Josee, the Tiger and the Fish",2020-12-25,"With dreams of diving abroad, Tsuneo gets a jo...",27.037,8.300
6,670,Oldboy,2003-11-21,"With no clue how he came to be imprisoned, dru...",46.980,8.300
7,8587,The Lion King,1994-06-24,A young lion prince is cast out of his pride b...,130.909,8.256
8,299534,Avengers: Endgame,2019-04-24,After the devastating events of Avengers: Infi...,170.397,8.300
9,630566,Clouds,2020-10-09,Young musician Zach Sobiech discovers his canc...,22.824,8.300
10,508965,Klaus,2019-11-08,When Jesper distinguishes himself as the Posta...,35.161,8.249
11,299536,Avengers: Infinity War,2018-04-25,As the Avengers and their allies have continue...,236.960,8.200
12,283566,Evangelion: 3.0+1.0 Thrice Upon a Time,2021-03-08,"In the aftermath of the Fourth Impact, strande...",31.221,8.200
13,572154,Rascal Does Not Dream of a Dreaming Girl,2019-06-15,"In Fujisawa, Sakuta Azusagawa is in his second...",22.075,8.200
14,42269,We All Loved Each Other So Much,1974-12-21,Three partisans bound by a strong friendship r...,11.263,8.200
15,490132,Green Book,2018-11-16,"Tony Lip, a bouncer in 1962, is hired to drive...",177.762,8.243
16,618344,Justice League Dark: Apokolips War,2020-05-05,Earth is decimated after intergalactic tyrant ...,31.045,8.239
17,315162,Puss in Boots: The Last Wish,2022-12-07,Puss in Boots discovers that his passion for a...,183.586,8.241
18,265177,Mommy,2014-09-19,A peculiar neighbor offers hope to a recent wi...,33.496,8.237
19,635302,Demon Slayer -Kimetsu no Yaiba- The Movie: Mug...,2020-10-16,"Tanjiro Kamado, joined with Inosuke Hashibira,...",74.258,8.231